<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!--Static JSPs-->
    <servlet>
        <servlet-name>About</servlet-name>
        <jsp-file>/about/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>2014</servlet-name>
        <jsp-file>/2014/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>2014</servlet-name>
        <url-pattern>/2014</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>2015</servlet-name>
        <jsp-file>/2015/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>2015</servlet-name>
        <url-pattern>/2015</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>2016</servlet-name>
        <jsp-file>/2016/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>2016</servlet-name>
        <url-pattern>/2016</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>2017</servlet-name>
        <jsp-file>/2017/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>2017</servlet-name>
        <url-pattern>/2017</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>2018</servlet-name>
        <jsp-file>/2018/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>2018</servlet-name>
        <url-pattern>/2018</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>2019</servlet-name>
        <jsp-file>/2019/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>2019</servlet-name>
        <url-pattern>/2019</url-pattern>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--End of Static JSPs-->

    <!--Admin JSPs and Servlets-->
    <servlet>
        <servlet-name>Guide</servlet-name>
        <jsp-file>/th/guide.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Guide</servlet-name>
        <url-pattern>/th/guide</url-pattern>
        <url-pattern>/th/guide/*</url-pattern>
        <url-pattern>/th</url-pattern>
        <url-pattern>/th/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestGuide</servlet-name>
        <jsp-file>/th/test-guide.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestGuide</servlet-name>
        <url-pattern>/th/testing</url-pattern>
        <url-pattern>/th/test-guide</url-pattern>
        <url-pattern>/th/test-guide/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminTreasureHunt</servlet-name>
        <jsp-file>/th/admin/TreasureHunt.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminTreasureHunt</servlet-name>
        <url-pattern>/th/admin/treasure-hunt</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminTreasureHunts</servlet-name>
        <jsp-file>/th/admin/TreasureHunts.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminTreasureHunts</servlet-name>
        <url-pattern>/th/admin/treasure-hunts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminQuestions</servlet-name>
        <jsp-file>/th/admin/Questions.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminQuestions</servlet-name>
        <url-pattern>/th/admin/questions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminQuestion</servlet-name>
        <jsp-file>/th/admin/Question.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminQuestion</servlet-name>
        <url-pattern>/th/admin/question</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminSessions</servlet-name>
        <jsp-file>/th/admin/Sessions.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminSessions</servlet-name>
        <url-pattern>/th/admin/sessions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminUsers</servlet-name>
        <jsp-file>/th/admin/Users.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUsers</servlet-name>
        <url-pattern>/th/admin/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminParameters</servlet-name>
        <jsp-file>/th/admin/Parameters.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminParameters</servlet-name>
        <url-pattern>/th/admin/parameters</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LeaderboardMap</servlet-name>
        <jsp-file>/th/leaderboard/map.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LeaderboardMap</servlet-name>
        <url-pattern>/th/leaderboard/map</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddOrEditTreasureHuntServlet</servlet-name>
        <servlet-class>org.codecyprus.th.admin.AddOrEditTreasureHuntServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrEditTreasureHuntServlet</servlet-name>
        <url-pattern>/th/admin/add-treasure-hunt</url-pattern>
        <url-pattern>/th/admin/edit-treasure-hunt</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddOrEditQuestionServlet</servlet-name>
        <servlet-class>org.codecyprus.th.admin.AddOrEditQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrEditQuestionServlet</servlet-name>
        <url-pattern>/th/admin/add-question</url-pattern>
        <url-pattern>/th/admin/edit-question</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddOrEditConfiguredQuestionServlet</servlet-name>
        <servlet-class>org.codecyprus.th.admin.AddOrEditConfiguredQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrEditConfiguredQuestionServlet</servlet-name>
        <url-pattern>/th/admin/add-configured-question</url-pattern>
        <url-pattern>/th/admin/edit-configured-question</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddOrEditTimedServlet</servlet-name>
        <servlet-class>org.codecyprus.th.admin.AddOrEditTimedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrEditTimedServlet</servlet-name>
        <url-pattern>/th/admin/add-timed</url-pattern>
        <url-pattern>/th/admin/edit-timed</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddOrEditParameterServlet</servlet-name>
        <servlet-class>org.codecyprus.th.admin.AddOrEditParameterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrEditParameterServlet</servlet-name>
        <url-pattern>/th/admin/add-parameter</url-pattern>
        <url-pattern>/th/admin/edit-parameter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminDeleteEntity</servlet-name>
        <servlet-class>org.codecyprus.th.admin.DeleteEntity</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDeleteEntity</servlet-name>
        <url-pattern>/th/admin/delete-entity</url-pattern>
    </servlet-mapping>
    <!--End of Admin JSPs and Servlets-->

    <!--Timed JSPs-->
    <servlet>
        <servlet-name>TimedIndex</servlet-name>
        <jsp-file>/th/timed/Index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimedIndex</servlet-name>
        <url-pattern>/th/timed</url-pattern>
    </servlet-mapping>
    <!--End of Timed JSPs-->

    <!--API Servlets-->
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/th/api/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.StartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/th/api/start</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.QuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/th/api/question</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AnswerServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.AnswerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnswerServlet</servlet-name>
        <url-pattern>/th/api/answer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LocationServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.LocationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LocationServlet</servlet-name>
        <url-pattern>/th/api/location</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ScoreServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.ScoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScoreServlet</servlet-name>
        <url-pattern>/th/api/score</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SkipServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.SkipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SkipServlet</servlet-name>
        <url-pattern>/th/api/skip</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LeaderboardServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.LeaderboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LeaderboardServlet</servlet-name>
        <url-pattern>/th/api/leaderboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LeaderboardWithLocationsServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.LeaderboardWithLocationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LeaderboardWithLocationsServlet</servlet-name>
        <url-pattern>/th/api/leaderboardWithLocations</url-pattern>
    </servlet-mapping>
    <!--End of API Servlets-->

    <!--Test API Servlets-->
    <servlet>
        <servlet-name>TestListServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.test.TestListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestListServlet</servlet-name>
        <url-pattern>/th/test-api/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestStartServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.test.TestStartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestStartServlet</servlet-name>
        <url-pattern>/th/test-api/start</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestQuestionServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.test.TestQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestQuestionServlet</servlet-name>
        <url-pattern>/th/test-api/question</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestAnswerServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.test.TestAnswerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestAnswerServlet</servlet-name>
        <url-pattern>/th/test-api/answer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestScoreServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.test.TestScoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestScoreServlet</servlet-name>
        <url-pattern>/th/test-api/score</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestLeaderboardServlet</servlet-name>
        <servlet-class>org.codecyprus.th.api.test.TestLeaderboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestLeaderboardServlet</servlet-name>
        <url-pattern>/th/test-api/leaderboard</url-pattern>
    </servlet-mapping>
    <!--End of Test API Servlets-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>everything</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

</web-app>